table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dbdcdf;
  text-align: left;
  padding: 8px;
  color: var(--primary);
}

thead {
  tr {
    border: 1px solid var(--primary);
  }
}
