<div class="workflow-container">
  <table>
    <thead>
      <tr>
        <th>
          <input type="checkbox" />
        </th>
        <th>Task</th>
        <th>Assigned Users</th>
        <th>Status</th>
        <th>Date Started</th>
        <th>Priority Level</th>
        <th><i class="fa fa-bar-chart"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of workflows">
        <td>
          <input type="checkbox" />
        </td>
        <td *ngFor="let header of headers">
          <div
            class="content"
            [class.template-content]="row[header.key]?.template"
            [innerHTML]="row[header.key]?.template ?? row[header.key]"></div>
        </td>
        <td>
          <i class="fa fa-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- look this > Petqa Favorite-ic nayes inch css-a strukturan nuyn dzev ste havates.. Petq chi arandzin component, che favoriteum thead chka.. ed arandzin kpahes esi el de table -->
