<div class="dashboard-container">
  <div class="workspace">
    <app-workspace></app-workspace>
  </div>

  <div class="info">
    <app-info></app-info>
  </div>

  <div class="settings">
    <app-settings></app-settings>
  </div>
</div>
