h1 {
  color: var(--primary);
  text-align: center;
  font-size: 8em;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 1050px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
}
