<div class="header-container">
  <div class="logo-container">
    <div class="logo">system logo/icon</div>
    <h2 class="title">
      <span class="color-dark-grey">Company name's</span>
      <span class="color-primary"> workspace </span>
    </h2>
  </div>

  <div class="search-container">
    <div class="select-container">
      <mat-select [(value)]="selected">
        <mat-option [value]="0">All</mat-option>
        <mat-option
          *ngFor="let food of foods"
          [value]="food.value"
          (click)="takeValue(food)"
          (selectionChange)="selectionChange($event)">
          {{ food.viewValue }}
        </mat-option>
      </mat-select>
    </div>
    <div class="input">
      <input type="text" />
    </div>
  </div>

  <div class="notifications-container">
    <div (click)="showNotification('InboxComponent')" class="inbox">
      <i class="fa fa-cloud"></i>
    </div>

    <div (click)="showNotification('NotificationComponent')" class="notification">
      <i class="fa fa-bell"></i>
    </div>
  </div>

  <div class="notifications-container-ref">
    <ng-container #notificationContainerRef> </ng-container>
  </div>
</div>
