@import './../../../assets/styles/variables.scss';

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: 1px solid var(--primary);
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1px;
  .title {
    margin-bottom: 0;
    flex: 6;
    padding-left: 25px;
  }
}

.logo {
  background-color: var(--primary);
  width: 45px;
  height: 45px;
  font-size: 8px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  width: 420px;
}

.input {
  width: 100%;
  input {
    border: none;
    border-left: 1px solid black;
    height: 100%;
    padding: 7px;
    width: calc(100% - 15px);
  }
}

.select-container {
  padding-left: 5px;
}

.notifications-container {
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    cursor: pointer;
    padding: 0 15px;
    i {
      font-size: 23px;
      color: var(--primary);
    }
  }
}
