.notification-inbox-container {
  position: absolute;
  right: 0;
  top: 70px;
  background-color: var(--white);
  padding: 10px;
  width: 260px;
  border: 1px solid var(--primary);
  padding-bottom: 30px;
  .actions-container {
    display: flex;
    > div {
      margin: 0 5px;
    }
  }
}

h2 {
  text-align: center;
}

//@@@

.notification-type-card {
  margin: 10px 0;
}

// stic ktanes arden inboxi- scss file

.inbox-container {
  .inbox {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkgrey);
    margin: 15px 0;
    padding: 5px 15px;
    position: relative;
  }

  .view-icon {
    width: 7px;
    height: 7px;
    &.viewed {
      background-color: var(--darkgrey);
    }
  }
  .inbox-info {
    color: var(--white);
  }
}

.chat-container {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--primary);
  }
}

.avatar,
.view-icon {
  background-color: var(--primary);
  border-radius: 50%;
}

.avatar {
  width: 45px;
  height: 45px;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
