<div class="primary-bg manage-menu-container">
  <div class="select-workspace">
    <form>
      <mat-form-field>
        <mat-select [(value)]="selected">
          <mat-option
            *ngFor="let food of foods"
            [value]="selected"
            (click)="takeValue(food)"
            (selectionChange)="selectionChange($event)">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="tree-container">
    <div class="workspace-container d-flex">
      <div class="icon">
        <i class="fa fa-cloud"></i>
      </div>
      <div>Main Repository</div>
    </div>

    <div routerLink="manage/my-files">manage/my-files</div>

    <mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <div class="folder-icon-content">
          <i class="fa fa-folder"></i>
        </div>
        <div class="text-content" (click)="navigateInManage(node)">
          {{ node.name }}
        </div>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <div class="mat-tree-node chevron-container" matTreeNodeToggle>
          <div *ngIf="treeControl.isExpanded(node); else showOpend">
            <i [attr.aria-label]="'toggle ' + node.name" class="fa fa-chevron-down"></i>
          </div>
          <ng-template #showOpend>
            <i class="fa fa-chevron-right"></i>
          </ng-template>

          <div class="text-content" (click)="navigateInManage(node)">
            {{ node.name }}
          </div>
        </div>
      </mat-tree-node>
    </mat-tree>

    <!-- https://material.angular.io/components/tree/overview -->
  </div>
</div>
