.manage-menu-container {
  padding: 5px;
  color: #fff;
  .select-workspace {
    form {
      text-align: center;
      color: var(--white);
    }
    ::ng-deep {
      .mat-select-arrow,
      .mat-select-value-text {
        color: #fff !important;
      }
      .mat-form-field-underline {
        background-color: #fff !important;
      }
    }
  }

  .tree-container {
    max-height: 450px;
    overflow-x: auto;
  }
}

.workspace-container {
  div {
    margin: 0 5px;
  }
}

.mat-tree {
  background-color: var(--primary);
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role='group'] {
  padding-left: 10px;
}

.mat-tree-node {
  cursor: pointer;
  color: var(--white);
  div {
    margin: 0 5px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #878fa3;
}

::-webkit-scrollbar-thumb:hover {
  background: #444c5e;
}

// .example-tree div[role='group'] > .mat-tree-node {
//   padding-left: 40px;
// }
