// look this> texpoxel shared!
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dbdcdf;
  text-align: left;
  padding: 8px;
  color: var(--primary);
}

thead {
  tr {
    border: 1px solid var(--primary);
  }
}

.results-container {
  padding: 15px;
  background-color: #f0f0f0;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    display: flex;
    margin-top: 40px;
    align-items: center;
    border-top: 1px solid var(--primary);
    padding-top: 20px;
    justify-content: space-between;
    button {
      background-color: var(--primary);
      color: var(--white);
    }
  }
}
