.home-menu-container {
  background-color: var(--primary);
  color: var(--white);
}

.home-menu-group {
  padding: 10px 0;
  background-color: var(--primary);
  li {
    padding: 4px 10px;
    margin: 15px 0;
    &:first-child {
      margin-top: 0;
    }
    &.active {
      background-color: #808ca4;
    }
  }
}
