<div class="home-menu-container primary-bg">
  <ul class="home-menu-group">
    <li
      *ngFor="let item of menu; let i = index"
      routerLinkActive="active"
      [routerLink]="item.url">
      {{ item.viewValue }}
    </li>
  </ul>
</div>
