.detailed-search-container {
  padding: 5px;

  h5 {
    color: #c3cee3;
  }
}

.search-container {
  max-height: 450px;
  overflow: auto;
  padding-right: 10px;
  ::ng-deep {
    .mat-select-arrow,
    .mat-select-min-line {
      color: #afb2b9;
    }

    .mat-select {
      border: 1px solid #afb2b9;
      padding: 2px;
    }
  }
  small {
    text-decoration: underline;
    color: #c3cee3;
    margin-top: 4px;
    display: block;
  }
  h5 {
    color: var(--primary);
    background-color: #afb2b9;
  }
  > div {
    margin-bottom: 20px;
    .dp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #afb2b9;
      margin-bottom: 10px;
      padding: 0 5px;
      h5 {
        flex: 1;
        margin-bottom: 0;
      }
      .close {
        cursor: pointer;
        color: var(--primary);
        font-size: 35px;
        margin: 0 5px;
      }
    }
  }

  form {
    color: #afb2b9;
    .label {
      font-size: 9px;
      margin-bottom: 3px;
    }
  }

  .date-search-container {
    .hr {
      height: 2px;
      width: 100%;
      background-color: #afb2b9;
      margin: 10px 0;
    }
    .date-search {
      color: #afb2b9;
      .title {
        font-size: 12px;
      }
      form {
        label {
          display: flex;
          justify-content: space-between;
          .title {
            flex: 1;
          }
          .input-content {
            text-align: right;
            input {
              width: 140px;
              margin: 0 auto;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

.mat-button {
  background-color: #c3cee3;
  color: var(--primary);
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #878fa3;
}

::-webkit-scrollbar-thumb:hover {
  background: #444c5e;
}
