<div class="primary-bg detailed-search-container">
  <h5 class="title">Detailed Search</h5>
  <div class="search-container">
    <div class="text-search">
      <div class="dp">
        <h5>Text Search</h5>
        <div class="close">-</div>
      </div>
      <form class="example-form">
        <label for="keyword">
          <div class="label">Enter Keyword/s, then hit "Enter"</div>
        </label>
        <input #keyword type="string" />
        <!-- <mat-form-field class="example-full-width" appearance="fill"> -->
        <!-- <mat-label>Enter Keyword/s, then hit "Enter"</mat-label> -->
        <!-- <input type="string" matInput /> -->
        <!-- </mat-form-field> -->
      </form>
    </div>

    <div class="saved-search">
      <div class="dp">
        <h5>Text Search</h5>
        <div class="close">-</div>
      </div>
      <form class="saved-search">
        <mat-select [value]="'None'">
          <mat-option [value]="'None'">None</mat-option>
        </mat-select>
        <small>View all Saved Searched</small>
      </form>
    </div>

    <div class="tags">
      <div class="dp">
        <h5>Tags</h5>
        <div class="close">-</div>
      </div>
      <form class="saved-search">
        <mat-select [value]="'Select Tags'">
          <mat-option [value]="'Select Tags'">Select Tags</mat-option>
        </mat-select>
      </form>
    </div>

    <div class="file-format">
      <div class="dp">
        <h5>File Format</h5>
        <div class="close">-</div>
      </div>
      <form class="saved-search">
        <mat-select [value]="'Select Tags'">
          <mat-option [value]="'Select Tags'">Select Tags</mat-option>
        </mat-select>
      </form>
    </div>

    <div class="date-search-container">
      <div class="dp">
        <h5>File Format</h5>
        <div class="close">-</div>
      </div>

      <div class="date-search added-created-content">
        <div class="title">date Added/Created</div>
        <form>
          <label for="from">
            <div class="title">From:</div>
            <div class="input-content">
              <input id="from" type="date" />
            </div>
          </label>

          <label for="to">
            <div class="title">To:</div>
            <div class="input-content">
              <input id="to" type="date" />
            </div>
          </label>
        </form>
      </div>

      <div class="hr"></div>

      <div class="date-search edited-content">
        <div class="title">Date Edited</div>
        <form>
          <label for="from">
            <div class="title">From:</div>
            <div class="input-content">
              <input id="from" type="date" />
            </div>
          </label>

          <label for="to">
            <div class="title">To:</div>
            <div class="input-content">
              <input id="to" type="date" />
            </div>
          </label>
        </form>
      </div>

      <div class="hr"></div>

      <div class="date-search approved-content">
        <div class="title">Date Approved</div>
        <form>
          <label for="from">
            <div class="title">From:</div>
            <div class="input-content">
              <input id="from" type="date" />
            </div>
          </label>

          <label for="to">
            <div class="title">To:</div>
            <div class="input-content">
              <input id="to" type="date" />
            </div>
          </label>
        </form>
      </div>

      <div class="hr"></div>
    </div>

    <div class="user-search">
      <div class="dp">
        <h5>User Search</h5>
        <div class="close">-</div>
      </div>
      <form class="example-form">
        <label for="user">
          <div class="label">Enter Username/s, then hit "Enter"</div>
          <div class="label">Add another Username/s, then hit "Enter"</div>
        </label>
        <input #user type="string" />
      </form>
    </div>

    <div class="categorization">
      <div class="dp">
        <h5>Categorization</h5>
        <div class="close">-</div>
      </div>
      <form class="categorization-search">
        <mat-select [value]="'Select Tags'">
          <mat-option [value]="'Select Tags'">Select Tap / Utility</mat-option>
        </mat-select>

        <mat-select [value]="'Select Tags'">
          <mat-option [value]="'Select Tags'">Coverage</mat-option>
        </mat-select>

        <mat-select [value]="'Select Tags'">
          <mat-option [value]="'Select Tags'">Subjects</mat-option>
        </mat-select>
      </form>
    </div>

    <div class="path-search">
      <div class="dp">
        <h5>Path</h5>
        <div class="close">-</div>
      </div>

      <form class="example-form">
        <label for="path">
          <div class="label">Enter Folder Path, then hit "Enter"</div>
        </label>
        <input #path type="string" />
      </form>
    </div>

    <button style="width: 100%" mat-button>Browse Folder</button>
  </div>
</div>
