<app-header></app-header>

<div class="main">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

change something... 