<div class="manage-contnainer page">
  <div class="header-container">
    <div class="sub">
      <h1>Meeting Reports</h1>

      <div class="user-info">
        <div class="avatar-container">
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="avatar"></div>
        </div>
        <div class="description">5 Sort js unsdn</div>
      </div>

      <div class="day-info">July 15, 2022 | 9:00 PM</div>
    </div>
    <div class="breadcrumb-container">
      <div class="breadcrumb">
        Main Repository > Workspaces > Projects > Meeting Reports
      </div>
      <div class="copy">
        <i class="fa fa-circle"></i>
      </div>
    </div>
  </div>
  <div class="manage-content">
    <div class="details">
      <div class="select-view-container">
        <div class="content">Content</div>
        <div class="content">Edit</div>
        <div class="content">Alerts</div>
        <div class="content">Audit Log</div>
      </div>
      <div class="modified-container">...</div>
    </div>
    <div class="content">
      <table cdkDropList (cdkDropListDropped)="dropTable($event)">
        <thead>
          <tr>
            <th></th>
            <th>
              <input type="checkbox" />
            </th>
            <th>Task</th>
            <th>Assigned Users</th>
            <th>Status</th>
            <th>Date Started</th>
            <th>Priority Level</th>
            <th><i class="fa fa-bar-chart"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of workflows" cdkDrag [cdkDragData]="row">
            <td class="drag">
              <i cdkDragHandle class="fa fa-align-justify"></i>
            </td>
            <td>
              <input type="checkbox" />
            </td>
            <td *ngFor="let header of headers">
              <div
                class="content"
                [class.template-content]="row[header.key]?.template"
                [innerHTML]="row[header.key]?.template ?? row[header.key]"></div>
            </td>
            <td>
              <i class="fa fa-trash"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
