.manage-contnainer {
  background-color: #f0f0f0;
}
.header-container {
  .sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .user-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        padding: 0 10px;
      }
      .avatar-container {
        display: flex;
        .avatar {
          background-color: var(--primary);
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }
      .description {
        flex: 4;
      }
    }
  }
}

.breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--primary);
  margin-top: 25px;
  padding-bottom: 5px;
  color: var(--primary);
  cursor: pointer;
}

.manage-content {
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select-view-container {
      display: flex;
      padding: 30px 0;
      > div {
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
}

.file-content-group {
  li {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #f0f0f0;
    color: var(--primary);
    margin: 10px 0;

    .drag {
      cursor: grab;
    }
  }
}

.cdk-drag-preview {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #f0f0f0;
  color: var(--primary);
  margin: 10px 0;
  cursor: grabbing !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

td,
th {
  border-bottom: 1px solid #dbdcdf;
  text-align: left;
  padding: 8px;
  color: var(--primary);
}

thead {
  background-color: var(--grey);
  tr {
    border: 1px solid var(--primary);
  }
}
