<div class="notification-inbox-container">
  <h2 class="header">Your Notifications</h2>
  <div class="notification-type-card" *ngFor="let type of notificationTypes">
    <h3>Type of Notification</h3>
    <div class="description">{{ type.description }}</div>
    <div class="actions-container">
      <div class="actions" *ngFor="let action of type.actions">{{ action.action }}</div>
    </div>
  </div>

  <div class="footer">Mark Aall read</div>
</div>
