.authorized-apps-container {
  .header {
    display: flex;
    margin: 20px 0;
    .title {
      margin-bottom: 0;
      flex: 4;
    }
    .filteration-container {
      flex: 1;
      display: flex;
      justify-content: space-between;
      > div {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }

  .files-container {
    .file {
      color: var(--primary);
      cursor: pointer;
    }
    .add {
      width: 66px;
      height: 73px;
      margin-left: 5px;
      border: 1px dotted var(--primary);
      margin-top: 40px;
      padding: 6px;
      font-size: 10px;
      cursor: pointer;
      text-align: center;
    }
  }
}
