<div class="authorized-apps-container">
  <div class="header">
    <h1 class="title">Authorized Applications</h1>
    <div class="filteration-container">
      <div class="filter"><i class="fa fa-glass"></i></div>
      <div class="list"><i class="fa fa-th-list"></i></div>
      <div class="large"><i class="fa fa-th-large"></i></div>
      <div class="search">
        <input type="text" />
      </div>
    </div>
  </div>
  <div class="files-container">
    <div class="file d-flex">
      <div
        *ngFor="let file of files"
        [innerHTML]="file.img"
        class="m-h-10"
        style="font-size: 70px"></div>
    </div>
    <div class="add">add another application</div>
  </div>
</div>
