<div class="sidebar-container">
  <mat-tab-group
    [(selectedIndex)]="activeGroup"
    (selectedIndexChange)="changeIndex($event)"
    (selectedTabChange)="changeTab($event)">
    <mat-tab label="Home">
      <app-home-menu></app-home-menu>
    </mat-tab>

    <mat-tab label="Manage">
      <app-manage-menu></app-manage-menu>
    </mat-tab>

    <mat-tab label="Search">
      <app-detailed-search></app-detailed-search>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <i class="fa fa-user"></i>
      </ng-template>
      <app-system-information></app-system-information>
    </mat-tab>
  </mat-tab-group>
</div>
