<div class="users-and-groups-container">
  <div class="header">
    <div class="links-container">
      <a [routerLink]="['users']" routerLinkActive="active" class="link"> Users </a>
      <a [routerLink]="['groups']" routerLinkActive="active" class="link"> Groups </a>
    </div>
    <div class="filteration-container">
      <!-- look this > shared -->
      <div class="list"><i class="fa fa-th-list"></i></div>
      <div class="large"><i class="fa fa-th-large"></i></div>
      <div class="search">
        <input type="text" placeholder="search for users and groups"/>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
