.users-and-groups-container {
  .header {
    display: flex;
    margin: 20px 0;
    margin-bottom: 10px;
    .links-container {
      flex: 4;
      .link {
        text-decoration: none;
        margin: 0 5px;
        color: var(--primary);
        font-weight: bold;
        font-size: 18px;
        &.active {
          border-bottom: 1px solid var(--primary);
        }
      }
    }

    .filteration-container {
      flex: 1;
      display: flex;
      justify-content: space-between;
      > div {
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}
