<div class="favorites-container">
  <div class="header">
    <h1 class="title">File Content Bookmarks</h1>
    <div class="modes">
      <div class="large">
        <i class="fa fa-th-large"></i>
      </div>
      <div class="list">
        <i class="fa fa-th-list"></i>
      </div>
    </div>
  </div>
  <ul class="file-content-group" cdkDropList (cdkDropListDropped)="drop($event)">
    <li cdkDrag class="file-content-item" *ngFor="let file of fileContents">
      <div class="drag" cdkDragHandle>
        <i class="fa fa-align-justify"></i>
      </div>
      <div class="document">
        <i class="fa fa-file-text-o"></i>
        {{ file.name }}
      </div>
      <div>
        {{ file.workspace }}
      </div>
      <div class="pages">
        {{ file.pages }}
      </div>
      <div class="action">
        <i class="fa fa-trash"></i>
      </div>
    </li>
  </ul>
</div>
