.favorites-container {
  .header,
  .header > .modes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > div {
      margin: 0 5px;
    }
  }

  .file-content-group {
    li {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      background-color: #f0f0f0;
      color: var(--primary);
      margin: 10px 0;

      .drag {
        cursor: grab;
      }
    }
  }
}

.cdk-drag-preview {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: #f0f0f0;
  color: var(--primary);
  margin: 10px 0;
  cursor: grabbing !important;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

