.day-info-container {
  padding: 15px;
  background: var(--primary);
  color: var(--white);
  margin-bottom: 5px;
}

.admin-announcements-containers {
  border: 1px solid var(--primary);
  height: 350px;
  .header {
    background: var(--primary);
    color: #fff;
    padding: 8px;
  }
}
