<div class="info-container">
  <div class="day-info-container">
    <div class="day">'MM'.DD.YYYY</div>
    <div class="day">Day Of Week</div>
    <div class="day">hh:mm</div>

    <div class="air-temperature">29 c</div>
  </div>

  <div class="admin-announcements-containers">
    <div class="header">Admin Announcements</div>
    <div class="content">content</div>
  </div>
</div>
