.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  > div {
    margin: 5px 0;
    cursor: pointer;
    i {
      font-size: 25px;
      color: var(--primary);
    }
  }
}
