<div class="workspace-container">
  <div class="active-collaborators">
    <div class="logo-container">
      <div class="info-logo"></div>
      <div class="info-logo"></div>
      <div class="info-logo"></div>
    </div>
    <div class="description">6+ asnjsdnjsdndsjnsdj sdnsd sdindsn</div>
  </div>

  <div class="feedback-container">
    <div class="messages">
      <div class="count">0</div>
      <div>messages</div>
    </div>

    <div class="artivles">
      <div class="count">0</div>
      <div>articles</div>
    </div>

    <div class="file-requests">
      <div class="count">0</div>
      <div>file requests</div>
    </div>
  </div>

  <div class="workspace-ticket">
    <div class="ticket-card">
      <div class="count">4</div>
      <div>file tickets</div>
    </div>
    <div class="ticket-card">
      <div class="count">5</div>
      <div>file tickets</div>
    </div>
    <div class="ticket-card">
      <div class="count">8</div>
      <div>file tickets</div>
    </div>
  </div>
</div>
