.workspace-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 150px);
  > div {
    &:not(.feedback-container) {
      background-color: var(--lightgrey);
      width: 100%;
      padding: 15px;
      color: var(--primary);
    }
  }
}

.active-collaborators {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    display: flex;
    flex: 1;
    .info-logo {
      background-color: var(--primary);
      width: 45px;
      height: 45px;
      border-radius: 50%;
      &:nth-child(1) {
        z-index: 99;
      }
      &:nth-child(2),
      &:nth-child(3) {
        position: absolute;
        box-shadow: 25px 0 0px 0px #606674;
        background-color: var(--lightgrey);
      }
      &:nth-child(2) {
        left: 48px;
      }
      &:nth-child(3) {
        left: 20px;
      }
    }
  }
  .description {
    flex: 4;
  }
}

.feedback-container {
  display: flex;
  justify-content: space-between;

  > div {
    background-color: var(--lightgrey);
    color: var(--primary);
    text-align: center;
    width: 160px !important;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 0;
    .count {
      font-size: 55px;
      font-weight: bold;
    }
  }
}


.workspace-ticket {
  display: flex;
  flex-direction: column;
  background-color: #fff !important;
  padding: 0 !important;
  > div {
    background-color: var(--lightgrey);
    margin: 5px 0;
    padding: 5px;
    height: 100px;
  }
}