@import '~@angular/material/theming';
@import './assets/styles/theme.scss';
@import './assets/styles/global.scss';

@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
@include custom-tabs-theme();

:root {
  --primary: #606674;
  --darkgrey: #939393;
  --grey: #d9d9d9;
  --lightgrey: #d9d9d9;
  --white: #ffffff;
}