<div class="d-flex">
  <div>
    <div class="title">title</div>
    <div class="folder">
      <i class="fa fa-folder"></i>
    </div>
  </div>

  <div>
    <div class="title">title</div>
    <div class="folder">
      <i class="fa fa-folder"></i>
    </div>
  </div>
</div>
