@import './variables.scss';

// Colors

.color-dark-grey {
  color: var(--darkgrey);
}

.color-primary {
  color: var(--primary);
}

// Backgrounds

.primary-bg {
  background-color: var(--primary);
}

// Display

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.m-h-10 {
  margin: 0 5px;
}


// Padding

.page {
  padding: 25px;
}