html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
ol,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
