@import '~@angular/material/theming';
@import './variables.scss';

@include mat-core();
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);
  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
  @include angular-material-theme($alternate-theme);
}

@mixin custom-tabs-theme() {
  .mat-tab-label-active {
    background-color: var(--primary) !important;
    color: var(--white);
  }

  .mat-tab-header {
    border-bottom: none !important;
  }

  .mat-tab-label:first-child {
    margin-left: 0 !important;
  }

  .mat-tab-label:last-child {
    margin-right: 0 !important;
  }

  .mat-tab-label {
    padding: 5px !important;
    min-width: 30px !important;
    margin: 0 1px !important;
    height: 25px !important;
    opacity: 1 !important;
    background-color: #c3cee3;
  }

  .mat-ink-bar {
    display: none !important;
  }
}
