<div class="notification-inbox-container">
  <h2 class="header">Your Inbox</h2>

  <div class="inbox-container">
    <div class="inbox" *ngFor="let inbox of inboxList">
      <div class="avatar"></div>
      <div class="inbox-info">
        <div class="username">{{ inbox.user }}</div>
        <div class="description">{{ inbox.description }}</div>
      </div>
      <div class="view-icon" [class.viewed]="inbox.isViewed"></div>
    </div>
  </div>
</div>
<!-- 
// look this, stex petqa poxes vorovhetev main div@ xangaruma chatin kdzes voobhsem
 -->

<!-- <div class="chat-container">
  <div class="header">
    <div class="avatar"></div>
  </div>
</div> -->
