<p>users works!</p>

<div class="user-container">
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers" class="header">
          {{ header.title }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of users">
        <td *ngFor="let header of headers">
          <div
            class="content"
            [class.template-content]="row[header.key]?.template"
            [innerHTML]="row[header.key]?.template ?? row[header.key]"></div>
        </td>
        <td style="cursor: pointer">...</td>
        <td>
          <input type="checkbox" />
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- look this > Petqa Favorite-ic nayes inch css-a strukturan nuyn dzev ste havates.. Petq chi arandzin component, che favoriteum thead chka.. ed arandzin kpahes esi el de table -->
